// 공통
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.sm-block{
    line-height: 0;
}

p{
    margin: 0;
    padding: 0;
}


.md-block{
    line-height: 0;
}

.swiper-slide{
    height: auto !important;
}

@media (min-width:489px) and (max-width:1000px){
    #eve .event-box div, #eve .event-box2 div, #eve .event-box3 div {
        font-size: 13pt !important;
    }

}


@media (max-width:1000px) {
    #form-group .nametag{
        margin-left: 70px;
    }

    #label2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #ft{
        height: 340px !important;
    }

    #f-wrap{
        padding-top: 30px;
    }
    

    #f-wrap{
        text-align: center;
    }


    #listbtn.open + #gnb{
        height:70px !important;
        border-radius: 0 0 35px 35px;
    }

    .md-block{
        display: block;
    }

    #gnb > ul > li{
        display: flex !important;
        padding: 22px 40px !important;
    }
}

@media(max-width:486px){

    .event-box, .event-box2, .event-box3{
        margin-left: 0 !important;
    }
    #eve .event-box div, #eve .event-box2 div, #eve .event-box3 div {
        font-size: 11pt !important;
    }

    #ft #quick{
        bottom: -40px !important;
        right: -20px !important;
    }

    #ft #quick li {
        width: 60px !important;
        height: 60px !important;
        border-radius: 100%;
    }

    .hidetitle{
        font-size: 10pt !important;
    }
    
    #quick .arrow{
        width: 50px !important;
    }

    #quick #btn4{
        margin-bottom: 20px;
    }

    #ft #quick #btn1 .symbol, #ft #quick #btn2 .kakao, #ft #quick #btn3 .instar{
        width: 34px !important;
    }

    .agree-btn{
        text-align: center;
        margin-top: 5px;
        font-size: 13pt;
    }

    .event-box, .event-box2, .event-box3{
        margin-bottom: 30px !important;
    }


    #banner .textbox {
        font-family: "Gowun Batang" !important;
        position: absolute !important;
        // top: 40% !important;
        // left: 14% !important;
        color: white !important;
      }

    #form-group #label2 li{
        margin-bottom: 10px !important;
    }

    #form-group .sm-wrap{
        text-align: center !important;
    }

    #waywrap .mapimg img{
        padding: 10px;
    }
    #label2 span{
        font-size: 10pt !important;
    }
    #gendername{
        margin: 0 !important;
        display: block;
        width: auto !important;
    }
}

#label2 a{
    display: flex;
    margin-left: 0px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

#eve ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}


// .ytb-a{
//     background-image: url('../../public/asset/btn_ytb.png');
//     background-size: 56px;
//     background-repeat: no-repeat;
//     background-position: center;
// }


.i-info1, .i-info2{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 8pt;
    transform: translate(-50%, -50%);
    z-index: 999;
}





.ytb-a:hover .i-info1{
    display: block;
    color: white;
    mix-blend-mode: screen;
}

.ins-a:hover .i-info2{
    display: block;
    color: white;
    mix-blend-mode: screen;
}

.snsicon{
    display: flex;
}

.snsicon .ytb-a{
    margin-right: 10px;
}

.ytb-a, .ins-a{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:486px){

    .snsicon{
        display: flex;
        margin-bottom: 20px;
        .ytb-a, .ins-a{
            width: 50px;
            height: 50px;
        }
        img{
            width: 30px !important;
            height: auto !important;
        }

    }




    #form-group .sm-wrap {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        margin-bottom: 0px !important;
        margin-bottom: 15px !important;
    }
    
    .womantag{
        margin-right: 0 !important;
    }

    .sw-wrap span{
        margin: 0 !important;
    }
    
    #form-group .sm-wrap > label{
        margin: 0 !important;
        text-align: center !important;
    }
    
    #textinfo div{
        text-align: left !important;
    }
}

@media(max-width:486px){
    #sm-btn{
        width: 200px !important;
        height: 60px !important;
        font-size: 20pt !important;
    }
    .textbox{
        margin-top: 0 !important;
    }
    #gnb .li-event a, #gnb .li-res a, #gnb .li-way a{
        font-size: 11pt !important;
    }
    #gnb .li-event, #gnb .li-res, #gnb .li-way{
        padding: 25px !important;
    }

}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute !important;
    bottom: 10% !important;
    left: 30% !important;
    width: 100%;
    }

.swiper-pagination-bullet{
    background-color: #FFFFFF !important;
    opacity: 0.8 !important;
    box-shadow: 0 1 1px black;
}

.swiper-pagination-bullet-active{
    background-color: #F1605F !important;
    opacity: 1 !important;
}


*{
    padding: 0;
    margin: 0;
}

.ytb-a{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 100%;
}

.ytb-a{
    background-color: red;
}

.ins-a{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}

.ytb-a:hover{
    mix-blend-mode:normal;
    background-color: rgba(148, 6, 6, 0.692);
}

.ytb-a:hover img{
    opacity: 0.5;
}

.ins-a:hover img{
    opacity: 0.5;
}

.ins-a:hover{
    mix-blend-mode:normal;
    background: rgba(193, 145, 255, 0.411);
}

.snsicon .i-ytb{
    height: 38px;
}

.snsicon .i-ins{
    height: 46px;
}

.newcontainer{
    max-width: 1440px !important;
}

body{
    font-family: "Noto Sans KR";
    letter-spacing: -0.8px;
}

ul,li,dl,dt{
    list-style-type: none;
}

.px-50{
    padding: 0 50px;
}

a{
    color: #222;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

#wrap{
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.349);
}

.snsicon{
    margin-left: 0px !important;
}



@media(max-width:1000px) {

    #gnb{
        width: 100% !important;
        position: absolute;
        top:100%;
        left:0; right:0;
        height:0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.788);
        animation-duration: 0.2s;
        padding: 0 !important;
        transition: 0.2s;
    }

    // #gnb li{
    //     padding: 20px 20px !important;
        
    // }

    #waybox h2{
        font-size: 24pt !important;
    }
    #form-group{
        margin-top: 20px !important;
    }
    #waywrap{
        padding-top: 25px !important;
    }
    
    #tab h1{
        padding: 30px 0;
    }
    .textbox h3{
        font-size: 20pt !important;
        letter-spacing: -3px !important;
    }
    .textbox h3 span{
        height: 36px !important;
    }
    .textbox p{
        font-size: 11pt !important;
        letter-spacing: -2.5px;
        margin-top: -10px;
    }
    .textbox{
        margin-right: -20px;
    }

    .event-box{
        margin-top: -10px !important;
        letter-spacing: -1px !important;
        font-weight: 300;
        font-size: 7pt !important;
        position: absolute;
        top: 50%; 
        left: 4%;    
        transform: translateY(-50%);
       }

   

    .event-box .spot{
        font-size: 25pt !important;
    }

    .swiper{
        width: auto !important;
        height: 680px !important;
    }

    .swiper ul{
        width: 100%;
        padding:0 !important;
        display:flex !important;
        justify-content:center !important; 
    }
    .event-box{
        
        // justify-content: center !important;
        // width: 100% !important;
        position:unset !important;
        padding-top: 40px !important;
        transform:none !important;
    }

    .event-box2 .title{
        font-size: 17pt !important;
        letter-spacing: -1px !important;
    }

    .event-box2 .spot{
        font-size: 25pt !important;
    }

    .event-box2{
        // justify-content: center !important;
        // width: 100% !important;
        position:unset !important;
        padding-top: 40px;
        transform:none !important;
    }

    .event-box3{
        padding-top: 40px;
    }

    .event-box .title{
        font-size:17pt !important;
    }

    .event-box .spot{
        font-size:26pt !important;
    }

    .event-box div, .event-box2 div{
        font-size:11pt !important;
        letter-spacing:-1.2px !important;
    }

    .e_bg1{
        height: 100% !important;
        max-height: 100% !important;
        background-size: cover !important;
        background-image: url("../asset/s_e_bg1.jpg") !important;
    }

    .e_bg1 .imgs{
        content: url("../asset/sm_img1.png") !important;
        width: 100%;
       
    }
    .e_bg2{
        height: 100% !important;
        background-size: contain;
        max-height: 100% !important;
        background-image: url("../asset/s_e_bg2.jpg") !important;
    }

    .e_bg2 .imgs{
        content: url("../asset/sm_img2.png") !important;
        width: 100%;
       
    }

    .e_bg3{
        height: 100% !important;
        max-height: 100% !important;
        background-size: contain;
        background-image: url("../asset/s_e_bg3.jpg") !important;
    }

    .e_bg3 .imgs{
        content: url("../asset/sm_img3.png") !important;
        width: 100%;
       
    }
    
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        position: absolute;
        left: 0 !important;
        bottom: 5% !important;
    }
}

@media (max-width:486px){
    #wrap #tab h1 img{
        width: 140px !important;
    }

    .i-info1, .i-info2{
        display: none !important;
    }
    #form-group #label2 li{
        padding: 20px;
    }
    #banner .textbox h3{
        text-align: center;
    }
    .sm-block{
        display: block !important;
    }
}


@media (min-width:1001px) {

    .kcy-text-lg-start{
        text-align: left !important;
    }

    #listbtn{
        display: none;
    }
    // [class^='e_bg'] img{
    //     height: 100%;
    //     position: absolute;
    //     right: 0;
    //     top:0;}

    #waybox{
            #waywrap{
                img{
                    margin-bottom: 30px;
                }
            }
        }
    }

@media(min-width:768px){
    #form_{
        margin-top: -50px;
    }
    #ft{
        height: 260px !important;
    }

}

@media(min-width:1024px){
    #ft{
        height: 130px !important;
    }

}


@media(max-width:768px){



    #f-wrap{
        text-align: center;
        padding-top: 30px;
        justify-content: center;
    }
    // #form-group .nametag{
    //     margin-left: 70px;
    // }

    // #label2{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    #mapinfo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    .sm-block{
        display: block !important;
    }
}


@media(min-width:768px){
    .snsicon{
        margin-left: 40px !important;
    }

    #label2 a {
        margin-left: 20px !important;
    }

    .sm-block{
        display: inline !important;
    }
    
}

@media(max-width:767px){
    #waybox{
    #ft{
            height: 340px !important;
        }
    }


    #form-title{
        font-size: 32pt !important;
        padding-bottom: 14px !important;
    }

    #form-date{
        font-size: 14pt !important;
        padding-bottom: 40px !important;
    }

    #form-date span{
        font-size: 18pt !important;
    }

}



#gnb li:hover a{
    color: #F1605F;
}

#gnb li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* 시작점을 가운데로 설정합니다. */
    background-color: #F1605F;
    width: 0;
    height: 4px;
    transition: 0.3s;
    animation-name: expand;
    animation-direction: alternate; /* 애니메이션의 방향을 번갈아가며 재생합니다. */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 상태를 유지합니다. */
}


#gnb li.active::before{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #F1605F;
    width: 100%;
    height: 4px;
    
}


@keyframes expand {
    from {
        transform: translateX(-50%) scaleX(0); /* 시작 상태: 가운데 정렬 및 가로 길이 0 */
    }
    to {
        transform: translateX(-50%) scaleX(1); /* 종료 상태: 가운데 정렬 및 가로 길이 1 (100%) */
    }
}

// 상단

.on #wrap{
    margin-top: 0 !important;
    background-color: white;
}
.fixed-top{
    transition: 0.5s;
}
.on .fixed-top{
    margin-top:-48px
}

#ad-title{
    background-color: #F9F6ED;
    padding: 12px 0;
    text-align: center;
}

#wrap{
   
    background-color: white;
    
    #tab{

        #listbtn{
            background-color: transparent;
            border: 0;
            position: absolute;
            font-size: 28pt;
            top: 50%;
            padding-left: 10px;
            transform: translateY(-50%)
            

        }
        
        h1{
            img{
                width: 170px;
            }
        }
        #gnb{
            margin-bottom: 0;
            
        
        li{
            position: relative;
            padding:40px 50px;
            transition: 0.2s;
            
            a{
                font-size: 16pt;   
            }
            @media (max-width:768px) {
                a{
                    font-size: 14pt;   
                }
            }
        }
        }
        #clickgnb {
            position: absolute;
            border-radius: 0 0 30px 30px;
            background-color: rgba(255, 106, 106, 0.753);
            li{
                padding: 24px 30px;

                a{
                    font-size: 16pt;
                }
            }
        }
    }


}

// body.on #gnb li{
//     padding: 25px 50px !important;
// }

body.on #banner{
    margin-top: -30px !important;
}

#banner{
    margin-top: 0;
    transition: 0.2s;
    position: relative;
    img{
        margin-top: 112px;
        width: inherit;
        display: block;
    }
    .textbox{
        font-family: "Gowun Batang";
        position: absolute;
        top: 50%;
        right: 50px;
        color: white;
        h3{
            font-size: 45pt;
            letter-spacing: -5px;
            padding-bottom: 10px;
            .coloring{
                display: inline-block;
                background-color: #F1605F;
                padding: 0 10px;
                height: 80px;

            }
        }
        p{
            text-align: right;
            font-size: 20pt;
            letter-spacing: -2px;
        }
    }
}

#eve{
    padding: 0;
    #ulbox{
        max-width: 1440px;       
        .swiper-slide{
            display: flex;
            margin-right: 0 !important;
            [class^='e_bg']{
                position: relative;  
                // height: 0;
                // padding-top: 42%;      
                // max-height: 600px;
                background-repeat: no-repeat;
                background-size:cover;
                // width:100%;
                img{
                    // position: absolute;
                    // right: 0;
                    // top:0;
                }
                ul{
                    color: white;
                    .event-box, .event-box2, .event-box3{
                        // margin-top: -40px;
                        letter-spacing: -1px;
                        font-weight: 300;
                        font-size: 16pt;
                        margin-bottom: 26px;
                        margin-left: 40px;
                        // position: absolute;
                        // top: 50%; 
                        // left: 4%;    
                        // transform: translateY(-50%);
                        
                        .title{
                            display: inline-block;
                            letter-spacing: -2px;
                            font-family: "Gowun Batang",serif;
                            font-size: 25pt;
                            padding: 20px 0;
                            margin-top: 20px;
                            
                        }
                        .spot{
                            letter-spacing: -2px;
                            margin-left: 8px;
                            font-family: "Gowun Batang",serif;
                            font-size: 35pt;
                        }
                        div{
                            margin-top: 4px;
                            font-size: 14pt;
                        }
                    }
                }
            }
        }
        img{
            width: auto;
        }
        .e_bg1{
           
            background-image: url("../asset/eventbg1.jpg"); 
        }
        .e_bg2{
          
            background-image: url("../asset/eventbg2.jpg");          
         
        }
        .e_bg3{
            
          
            background-image: url("../asset/eventbg3.jpg");
           
          
            
        }
    }
 
}


#ft{
    position: relative;
    background-color: #3C3C3C;
    height: 130px;
    #f-wrap{
        height: inherit;
    }
    .fnb{
        justify-content: center;
        li{
            padding: 8px 20px;
            a{
                color: white;
                font-size: 10.8pt;
                font-weight: 300;
            }
        }
        .copyright{
            padding-top: 0;
            padding-bottom: 0;
            color: white;
            font-size: 9.8pt;
            font-weight: 300;
        }
    }
    #quick{
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 40px;
        z-index: 999;
        li{
            width: 80px;
            height:80px;
            border-radius: 100%;
        }
        #btn1{
            background-color: #5392ff;
            display: flex;
            justify-content:center;
            align-items: center;
            .symbol{
                height: 60px;
            }
        }
        #btn2{
            background-color: #f8df00;
            display: flex;
            justify-content:center;
            align-items: center;
            .kakao{
                width: 54px;
            }
        }
        #btn3{
            background: rgb(88, 88, 88);
            display: flex;
            justify-content:center;
            align-items: center;
            .instar{
                width: 50px;
            }
        }
        #btn4 {
            margin-top: 10px;
            a{
            display: flex;
            justify-content: center;
        }
    }
    }
}


// form

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@300;400;500&display=swap');
/* 타이틀 - Gowun Batang */ 
/* 본문 - Noto Sans KR */

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

input::placeholder{
color: #A8A8A8;
/* font-size: 15pt; */
}

body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    letter-spacing: -0.88px;
}


#form-all{
    margin-top: -1px;
    width: inherit;
    background-image: url(../asset/form_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul, li{
    list-style: none;
    padding-left: 0;
}

#form-title{
    position: relative;
    font-family: "Gowun Batang", serif;
    font-size:45pt
}

#form-box{
 /* position: relative; */
 border: 0;
 border-radius: 20px;
 max-width: 1220px;
 height: 776px;  
 margin: 0 auto; 
 background-color: rgba(255, 255, 255, 0.8);
 overflow: hidden;
 box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
 @media (max-width:1000px) {
    height: auto; 
    
 }
}

#img{
    width: 578px;    
    background-image: url(../asset/left_img.png);
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (max-width:1000px) {
        width:auto;
        padding-top: 133%;
        
    }
}

#gendername{
}

#form-date{
    font-size: 18pt;
}

#form-date span{
    font-size:22pt;
    font-weight: 500;
}

#form-group div{
    font-size: 15pt;
    margin: 35px 0;
}

#form-group [type="text"]{
    width: 250px;
    padding: 8px;
}

#form-group select{
    padding: 5px;
    background-color: white;
    border: 1px #A8A8A8 solid;
    border-radius: 5px;
    font-weight: 300;

}

.me-10{
    margin-right: 100px;
}

#form-group select{
    width: 200px;
    padding: 8px;
}

#form-group label{
    width: 100px;
}



#label2 label{
    font-weight: 300 !important;
    width: 100%;
    display: inline;
    font-size: 14pt !important;
}

#sm-btn{
    width: 368px;
    height: 80px;
    background-color: #7AB9E6;
    border-radius: 100px;
    border: 0;
    color: white;
    font-weight: 400;
    font-size: 24pt;
}

#form-group label{
    font-weight: 400;
    font-size: 16pt;
}

input{
    border: 1px #A8A8A8 solid;
    border-radius: 5px;
}

.s-middle{
    vertical-align: middle;
}

#e-title{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* 체크박스 가상요소 */

#form-box [type="checkbox"]{
    display: none;
}

/* #label2 label::before */

#form-box [type="checkbox"] + label:before{
    content: "\F584";
    display: inline-block;
    color: black;
    border: none;
    height: 25px;
    margin-right: 5px;
    /* border-radius: 2px; */
    font-family: bootstrap-icons !important;
}


#form-box [type="checkbox"]:checked + label:before{
    content: "\F26C";
    /* background-color: #7AB9E6; */
    color: #7AB9E6;
    margin-right: 5px;
    font-family: bootstrap-icons !important;
}

/* 라디오버튼 가상요소 */

#form-box [type="radio"]{
    display: none;
}

#form-box [type="radio"] + label:before{
    content: "\F28A";
    display: inline-block;
    width: 25px;
    height: 25px;
    color: black;
    border: none;
    font-family: bootstrap-icons !important;
}

#form-box [type="radio"]:checked + label:before{
    content: "\F26B";
    border: none;
    color: #7AB9E6;
    font-family: bootstrap-icons !important;
}

#textinfo{
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 40px;
}

#textinfo div{
    margin-bottom: 4px;
    margin-right: 15px;
}

@media all and (max-width:486px) {
    .text-left .content1, .text-left .content2{
        margin-left: 0px !important;
    }

.me-10{
    margin-right: 0 !important;
}

}

#waybox{
    padding: 0;
    background-color: #F9F6ED;
    h2{
        font-family: "Gowun Batang";
        font-size: 28pt;
        margin-top: 10px;
    }
    #waywrap{
        background-color: white;
        margin-top: 40px;
        padding-top: 80px;
        margin-bottom: 80px;
        #mapinfo{
            span{
                font-size: 20pt;
                letter-spacing: -0.3px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
        .content1, .content2{
            margin-left: 60px;
        }

        .content1{
            margin-top: -10px;
        }

        .content2{
            margin-bottom: 40px;
        }
    }
}

#mapinfo{
    margin-left: 40px;
}

#quick #btn1:hover{
    background-color: #3273ffa2 !important;
}

#quick #btn2:hover{
    background-color: #e4d83ba2 !important;
}

#quick #btn3:hover{
    background-color: #888a8fbe !important;
}


#quick #btn1:hover .symbol,
#quick #btn2:hover .kakao,
#quick #btn3:hover .instar{
    opacity: 0.3 !important;
}

.rel{
    position: relative;
}

.hidetitle{
    display: none;
}

#quick #btn1:hover .hidetitle, 
#quick #btn2:hover .hidetitle, 
#quick #btn3:hover .hidetitle{
    display: inline;
    position: absolute;
    font-weight: 400;
    font-size: 13pt;
    letter-spacing: -0.5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

