// 공통
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute !important;
    bottom: 10% !important;
    left: 30% !important;
    width: 100%;
    }

.swiper-pagination-bullet{
    background-color: #FFFFFF !important;
    opacity: 0.8 !important;
    box-shadow: 0 1 1px black;
}

.swiper-pagination-bullet-active{
    background-color: #F1605F !important;
    opacity: 1 !important;
}


*{
    padding: 0;
    margin: 0;
}

.newcontainer{
    max-width: 1440px !important;
}

body{
    font-family: "Noto Sans KR";
    letter-spacing: -0.8px;
}

ul,li,dl,dt{
    list-style-type: none;
}

.px-50{
    padding: 0 50px;
}

a{
    color: #222;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}



@media(max-width:991px) {
    #gnb{
        width: 100% !important;
        position: absolute;
        top:100%;
        left:0; right:0;
        height:0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.788);
        animation-duration: 0.2s;
        padding: 0 !important;
        transition: 0.2s;
    }

    #gnb li{
        padding: 30px 20px !important;
        
    }

    #listbtn.open + #gnb{
        height:auto !important;
        border-radius: 0 0 100px 100px;
        
    }

    
    #tab h1{
        padding: 30px 0;
    }
    .textbox h3{
        font-size: 26pt !important;
        letter-spacing: -3px !important;
    }
    .textbox h3 span{
        height: 44px !important;
    }
    .textbox p{
        font-size: 13pt !important;
        letter-spacing: -2.5px;
        margin-top: -10px;
    }
    .textbox{
        margin-top: 30px;
        margin-right: -20px;
    }

    .event-box{
        margin-top: -10px !important;
        letter-spacing: -1px !important;
        font-weight: 300;
        font-size: 7pt !important;
        position: absolute;
        top: 50%; 
        left: 4%;    
        transform: translateY(-50%);}

    .event-box .title{
        font-size: 12pt !important;
        letter-spacing: -1px !important;
    }

    .event-box .spot{
        font-size: 25pt !important;
    }

    .swiper{
        width: auto !important;
        height: 680px !important;
    }

    .swiper ul{
        width: 100%;
        padding:0 !important;
        display:flex !important;
        justify-content:center !important; 
    }
    .event-box{
        
        // justify-content: center !important;
        // width: 100% !important;
        position:unset !important;
        margin-top: 40px !important;
        transform:none !important;
    }

    .event-box .title{
        font-size:17pt !important;
    }

    .event-box .spot{
        font-size:26pt !important;
    }

    .event-box div{
        font-size:11pt !important;
        letter-spacing:-1.2px !important;
    }

    .e_bg1{
        padding: 0 !important;
        height: 100% !important;
        max-height: 100% !important;
        background-size: cover !important;
        background-image: url("../asset/s_e_bg1.jpg") !important;
        position: relative !important;
    }

    .e_bg1 img{
        content: url("../asset/sm_img1.png") !important;
        width: 100%;
        position: absolute !important;
        top: 100% !important;
        transform: translateY(-100%);
    }
    .e_bg2{
        height: 100% !important;
        background-size: contain;
        background-image: url("../asset/s_e_bg2.jpg") !important;
    }
    .e_bg3{
        height: 100% !important;
        background-size: contain;
        background-image: url("../asset/s_e_bg3.jpg") !important;
    }
}



@media (min-width:1001px) {
    #listbtn{
        display: none;
    }
    [class^='e_bg'] img{
        height: 100%;
        position: absolute;
        right: 0;
        top:0;}
}

@media(min-width:768px){

    #eve{
    
        #ulbox{
            max-width: 1440px !important;       
            .swiper-slide{
                display: flex !important;
                margin-right: 0 !important;
                [class^='e_bg']{
                    position: relative !important;  
                    height: 0 !important;
                    padding-top: 42% !important;      
                    max-height: 600px !important;
                    background-repeat: no-repeat !important;
                    background-size:cover !important;
                    width:100% !important;
                    img{
                        position: absolute !important;
                        right: 0 !important;
                        top: 0!important;
                    }
                    ul{
                        color: white !important;
                        .event-box{
                            margin-top: -40px!important;
                            letter-spacing: -1px!important;
                            font-weight: 300!important;
                            font-size: 16pt!important;
                            position: absolute!important;
                            top: 50%!important; 
                            left: 4%!important;    
                            transform: translateY(-50%)!important;
                            
                            .title{
                                display: inline-block!important;
                                letter-spacing: -2px!important;
                                font-family: "Gowun Batang",serif!important;
                                font-size: 25pt!important;
                                padding: 20px 0!important;
                                
                            }
                            .spot{
                                letter-spacing: -2px!important;
                                font-family: "Gowun Batang",serif!important;
                                font-size: 35pt!important;
                            }
                            div{
                                margin-top: 4px!important;
                            }
                        }
                    }
                }
            }
            
            img{
                width: auto;
            }
            .e_bg1{
               
                background-image: url("../asset/eventbg1.jpg")!important; 
            }
            .e_bg2{
              
                background-image: url("../asset/eventbg2.jpg")!important;          
             
            }
            .e_bg3{
                
              
                background-image: url("../asset/eventbg3.jpg") !important;
               
              
                
            }
        }
     
    }
}



#gnb li:hover a{
    color: #F1605F;
}

#gnb li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* 시작점을 가운데로 설정합니다. */
    background-color: #F1605F;
    width: 0;
    height: 5px;
    transition: 0.3s;
    animation-name: expand;
    animation-direction: alternate; /* 애니메이션의 방향을 번갈아가며 재생합니다. */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 상태를 유지합니다. */
}


#gnb li.active::before{
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #F1605F;
    width: 100%;
    height: 5px;
    
}


@keyframes expand {
    from {
        transform: translateX(-50%) scaleX(0); /* 시작 상태: 가운데 정렬 및 가로 길이 0 */
    }
    to {
        transform: translateX(-50%) scaleX(1); /* 종료 상태: 가운데 정렬 및 가로 길이 1 (100%) */
    }
}

// 상단

.on #wrap{
    margin-top: 0 !important;
    background-color: white;
}

.on #ad-title{
    height: 0;
}

#ad-title{
    background-color: #F9F6ED;
    padding: 12px 0;
    text-align: center;
}

#wrap{
    margin-top: 48px;
    background-color: white;
    
    #tab{

        #listbtn{
            background-color: transparent;
            border: 0;
            position: absolute;
            font-size: 35pt;
            top: 50%;
            padding-left: 10px;
            transform: translateY(-50%)
            

        }
        
        h1{
            img{
                width: 170px;
            }
        }
        #gnb{
            margin-bottom: 0;
            
        
        li{
            position: relative;
            padding:40px 50px;
         
            
            a{
                font-size: 16pt;   
            }
            @media (max-width:768px) {
                a{
                    font-size: 14pt;   
                }
            }
        }
        }
        #clickgnb {
            position: absolute;
            border-radius: 0 0 30px 30px;
            background-color: rgba(255, 106, 106, 0.753);
            li{
                padding: 24px 30px;

                a{
                    font-size: 16pt;
                }
            }
        }
    }


}

.box{
    height: 2000px;
    background-color: white;
}


#banner{
    position: relative;
    img{
        margin-top: 112px;
        width: inherit
    }
    .textbox{
        font-family: "Gowun Batang";
        position: absolute;
        top: 50%;
        right: 50px;
        color: white;
        h3{
            font-size: 45pt;
            letter-spacing: -5px;
            padding-bottom: 10px;
            .coloring{
                display: inline-block;
                background-color: #F1605F;
                padding: 0 10px;
                height: 80px;

            }
        }
        p{
            text-align: right;
            font-size: 20pt;
            letter-spacing: -2px;
        }
    }
}

#eve{
    
    #ulbox{
        max-width: 1440px;       
        .swiper-slide{
            display: flex;
            margin-right: 0 !important;
            [class^='e_bg']{
                position: relative;  
                height: 0;
                padding-top: 42%;      
                max-height: 600px;
                background-repeat: no-repeat;
                background-size:cover;
                width:100%;
                img{
                    position: absolute;
                    right: 0;
                    top:0;
                }
                ul{
                    color: white;
                    .event-box{
                        margin-top: -40px;
                        letter-spacing: -1px;
                        font-weight: 300;
                        font-size: 16pt;
                        position: absolute;
                        top: 50%; 
                        left: 4%;    
                        transform: translateY(-50%);
                        
                        .title{
                            display: inline-block;
                            letter-spacing: -2px;
                            font-family: "Gowun Batang",serif;
                            font-size: 25pt;
                            padding: 20px 0;
                            
                        }
                        .spot{
                            letter-spacing: -2px;
                            font-family: "Gowun Batang",serif;
                            font-size: 35pt;
                        }
                        div{
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
        img{
            width: auto;
        }
        .e_bg1{
           
            background-image: url("../asset/eventbg1.jpg"); 
        }
        .e_bg2{
          
            background-image: url("../asset/eventbg2.jpg");          
         
        }
        .e_bg3{
            
          
            background-image: url("../asset/eventbg3.jpg");
           
          
            
        }
    }
 
}


#ft{
    background-color: #3C3C3C;
    height: 130px;
    #f-wrap{
        height: inherit;
    }
    #fnb{
        li{
            padding: 8px 20px;
            a{
                color: white;
                font-size: 9.8pt;
                font-weight: 300;
            }
        }
        .copyright{
            padding-top: 0;
            padding-bottom: 0;
            color: white;
            font-size: 9.8pt;
            font-weight: 300;
        }
    }
}
